name: ascii_converter
description: "Batch convert MP4 videos to ASCII cache files for fast playback"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  path_provider: ^2.1.5
  provider: ^6.1.2
  file_picker: ^8.1.6
  video_player: ^2.9.2
  desktop_drop: ^0.5.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  fonts:
    - family: JetBrainsMono
      fonts:
        - asset: ../flutter_app/assets/fonts/JetBrainsMono-Regular.ttf
